@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Manrope:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;1,400;1,500;1,600&family=Recursive:wght@300;400;500;600;700;800;900&display=swap');

body {
  background-color: #000000 !important;
  font-family: 'Manrope', sans-serif !important;
}

/* Bootstrap class override */
.btn-primary{
  --bs-btn-bg: #EE6325 !important;
  --bs-btn-border-color: #EE6325 !important;
  --bs-btn-color: #141B22 !important;
}
.btn-primary:hover{
  background-color: transparent !important;
  border-color: #EE6325 !important;
}
.btn-outline-primary{
  --bs-btn-border-color: #EE6325 !important;
  --bs-btn-color: #fff !important;
}
.btn-outline-primary:hover{
  background-color: #EE6325 !important;
  border-color: #EE6325 !important;
}

.bg-dark{
  background-color: #141B22 !important;
}

.primary-color{
  color: #EE6325 !important;
}