@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Manrope:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;1,400;1,500;1,600&family=Recursive:wght@300;400;500;600;700;800;900&display=swap');

body {
  background-color: #000000 !important;
  font-family: 'Manrope', sans-serif !important;
}

/* Bootstrap class override */
.btn-primary{
  --bs-btn-bg: #EE6325 !important;
  --bs-btn-border-color: #EE6325 !important;
  --bs-btn-color: #141B22 !important;
}
.btn-primary:hover{
  background-color: transparent !important;
  border-color: #EE6325 !important;
}
.btn-outline-primary{
  --bs-btn-border-color: #EE6325 !important;
  --bs-btn-color: #fff !important;
}
.btn-outline-primary:hover{
  background-color: #EE6325 !important;
  border-color: #EE6325 !important;
}

.bg-dark{
  background-color: #141B22 !important;
}

.primary-color{
  color: #EE6325 !important;
}


.accordion-header button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z' fill='rgba(33,231,134,1)'%3E%3C/path%3E%3C/svg%3E");
}
.accordion-header button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M5 11V13H19V11H5Z' fill='rgba(33,231,134,1)'%3E%3C/path%3E%3C/svg%3E");
}

