.hero{
    background-image: linear-gradient(to bottom right, #040B11, #040B1100);
    height: calc(100dvh - 100px);

    .content{
        display: flex;
        justify-content: center;
        flex-direction: column;

        .heroTitle{
            font-size: 66px;
            color: #fff;
            font-family: 'Bakbak One', cursive;
            
            @media only screen and (max-width: 768px){
                font-size: 28px;
                padding-top: 40px;
            }
        }  
    }

    .heroSideImage{
        @media only screen and (max-width: 768px){
            padding-top: 30px;
            padding-bottom: 30px;
            max-height: 355px;
        }
    }
}

.bodyContent{
    .title{
        padding-top: 40px;
        padding-bottom: 60px;
        max-width: 654px;
        margin: 0 auto;
    }
    .cardsWrapper{
        .contentWrap{
            background-color: #05223A;
            border: 1px solid #005499;
            border-radius: 22px;
        }
        .cardTop{
            background-color: #040B11;
            color: #fff;
            padding: 22px;
            border-radius: 22px;
            min-height: 300px;
            font-family: 'Recursive', sans-serif;

            .innerTitle{
                color: #EE6325;
                font-size: 20px;
            }
            .innerDesription{
                font-size: 16px;
            }
        }
        .cardBottom{
            color: #fff;
            padding: 22px;
            font-family: 'Manrope', sans-serif;
            font-size: 20px;

            .bottomDescription,.bottomLink{
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                font-weight: 400;
                transition: all 0.3s;
            }
            .bottomLink:hover{
                opacity: .6;
            }
        }
    }
    .bottomBody{
        .bottomDescription{
            max-width: 672px;
            margin: 0 auto;
            font-family: 'Manrope', sans-serif;
            padding-bottom: 80px;
            padding-top: 10px;
        }
    }
}

.subscriptions{
    .subscriptionsTitle{
        font-family: 'Bakbak One', cursive;
        padding-bottom: 30px;
    }

    .plans{
        .cardWrap{
            background-color: #05223A;
            border: 1px solid #005499;
            color: #fff;
            text-align: center;
        }
    }
}

.faqwrapper{
    .faqTitle{
        font-family: 'Bakbak One', cursive;
        padding-bottom: 30px;
        padding-top: 60px;
    }
}